@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('Roboto-Regular.ttf');
}

body {
    font-family: 'Roboto', sans-serif;
}

.titulo {
    margin-bottom: 8px;
}
.descricao{
    margin-top: 8px;
}
.lista{

}